/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background: #ffffff;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1200px;
  color: #000000;
  background-color: #ffffff;
}

.nav-list {
  margin: 0;
  padding: 0;
  margin-left: 238px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.header-image {
  display: block;
  position: absolute;
  margin-left: 70px;
}

.header-logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 507px;
  margin: 0;
  padding: 0;

}

.nav-list-right {
  width: 268px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}


.nav-item-like {
  min-width: 20px;
  min-height: 20px;
}



.nav-item-link {
  color: #000000;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  display: block;
  position: relative;
}

.nav-link-current::after {
  content: "";
  position: absolute;
  background-image: url(/images/hor-line-svg.svg);
  width: 68px;
  height: 2px;
  top: 63px;
  left: 50%;
  margin-left: -34px;
}

.nav-link-current-catalig::after {
  content: "";
  position: absolute;
  background-image: url(/images/Line-cataalog-svg.svg);
  width: 93px;
  height: 2px;
  left: 50%;
  margin-left: -46px;
  top: 63px;
}


.green-round {
  position: absolute;
  left: 24px;
  top: 11px;
}

.t-12 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  left: 28px;
  top: 17px;
  position: absolute;
  z-index: 1;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
}

.button-want {
  /* display: flex;
  align-items: center; */
  padding: 8px 34px;
  border-radius: 4px;
  width: 160px;
  background-color: #756157;
  margin-top: 14px;
  margin-bottom: 14px;
}

.button-want:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button-want:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-want:focus {
  background-color: #615048;
}

.button-want-link {
  color: #FFFFFF;
  text-decoration: none;
}

.button-want-link:active {
  color: rgba(255, 255, 255, 0.3);

}

/* main */

.main-index {
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 60px;
}


.first-section-bg {
  background-color: #82B3D3;
  background-image: url("../images/Maskgroup-zig-zag.png");
  width: 1200px;
}

.image-welcome {
  display: block;
  margin: auto;
  padding-top: 51px;
}

.gorgeous {
  display: block;
  margin: auto;
  padding-top: 11px;
}

.grand-canyon {
  display: block;
  margin: auto;
  padding-top: 54px;
  padding-bottom: 82px;
}

.sedona-small {
  background-color: #FFFFFF;
  width: 1200px;
}

.sedona-txt {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  padding-top: 69px;
}

.sedona-txt-2 {
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 90px;
  margin: 0;
}



.padding-big {
  padding-top: 103px;
  display: block;
}

.padding-big::before {
  content: "";
  position: absolute;
  background-image: url(/images/line2-svg.svg);
  width: 60px;
  height: 2px;
  top: 189px;
  left: 170px;
}

.span-padings {
  padding-top: 62px;
  display: block;
}

.span-padings-small {
  display: block;
  padding-top: 30px;
}

.advantages-list-tile {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px 400px;
  grid-template-columns: 400px 400px 400px;
  -ms-grid-rows: 384px 384px 384px 384px;
  grid-template-rows: 384px 384px 384px 384px;
  /* flex-wrap: wrap; */
  list-style-type: none;
}


.title-line::before {
  content: "";
  background-image: url(/images/advantages-line-svg.svg);
  width: 60px;
  height: 2px;
  top: 178px;
  left: 170px;
  position: absolute;
}

.advantages-tile-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;

}

.advantages-tile-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.advantages-tile-6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.advantages-tile {
  background-color: #82b2d3;
  color: #ffffff;
  font-style: normal;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  width: 400px;
  height: 384px;
  position: relative;
}

.title-advantages {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

}



.background-image-tile-2 {
  background-color: #82B3D3;
  height: 384px;
}

.advantages-tile:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-tile:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-tile:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.background-image-tile-6 {
  background-color: #82B3D3;
  height: 384px;
}

.advantages-tile-livs {
  font-style: normal;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
  position: relative;
}

.title-advantages {
  padding-top: 92px;
  display: block;
}

.advantages-icon {
  padding-top: 182px;
}


.svg-house {
  position: absolute;
  top: 80px;
  left: 162px;
}

.food {
  position: absolute;
  top: 81px;
  left: 162px;
}

.present {
  position: absolute;
  top: 78px;
  left: 162px;
}

.advantages-tile-eat {
  font-style: normal;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  position: relative;
}

.advantages-tile-suvenirs {
  font-style: normal;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding: 0;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
  position: relative;
}


.area-botton-hotels {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.area-botton {
  display: block;
  margin: 0;
  padding-top: 96px;
}

.area-botton-hotels p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-top: 20px;

}

.button-serch-hotels {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  color: #ffffff;
  border-radius: 4px;
  border-style: none;
  margin-top: 62px;
  margin-bottom: 96px;
  padding: 8px 50px;
}

.button-serch-hotels:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-serch-hotels:hover {
  background-color: #615048;
}

.button-serch-hotels:active {
  background-color: #756157;
}

.button-serch-hotels:focus {
  background-color: #615048;
}

/* footer */

.main-footer {
  width: 1200px;
  margin: 0 auto;
}

.subscribe {
  background-image: url("../images/blure-backround-mountains.jpg");
  background-color: #82B3D3;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 415px;
  color: #ffffff;
}

.area-subscribe {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.area-subscribe span {
  padding-top: 96px;
}

.area-subscribe p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  padding-top: 20px;
  margin: 0;
}

.form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
}

.input-email {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  width: 452px;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
}



.input-button {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.input-button:hover {
  background-color: rgba(104, 162, 202, 1);
}

.input-button:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.input-button:focus {
  background-color: #68A2CA;
}

.footer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1060px;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* display: flex;
  /* flex-wrap: wrap; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  /* width: 142px; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 47px 47px 47px;
  grid-template-columns: 47px 47px 47px;
  -ms-grid-rows: 40px;
  grid-template-rows: 40px;
  margin-top: 45px;
}

.footer-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
}

.footer-list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-row: 1;
  grid-column: 2;
}

.footer-list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-row: 1;
  grid-column: 3;
}

.footer-item {
  text-decoration: none;
  color: #000000;
}

.footer-item-vk {
  padding: 9px 10px;
  display: block;
}

.footer-item-tg {
  padding: 9px 15px;
  display: block;
}

.footer-item-yt {
  display: block;
  padding: 9px 12px;
}

.footer-item:hover > svg > path {
  fill: #68a2ca;
}

.footer-item:active > svg > path {
  fill: #68a2ca4d;
}

.footer-item:focus > svg > path {
  fill: #68A2CA;
}

.adress-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.adress-tel:hover {
  color: #756157;
}

.adress-tel:active {
  color: #7561574d;
}

.adress-tel:focus {
  color: #756157;
}

.academy-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.academy-logo:hover > svg > path {
  fill: #756157;
}

.academy-logo:active > svg > path {
  fill: #7561574d;
}

.academy-logo:focus {
  fill: #756157;
}

/* catalog */



.section-filter {
  width: 1200px;
  height: 412px;
  background-image: url("../images/blure-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82B3D3;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.breadcrumbs {
  width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 35px;
  margin-left: 70px;
  margin-right: 70px;
}

.breadcrumbs-part {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 200px;
}

.breadcrumbs-item {
  padding-right: 41px;
  /* min-width: 50px; */
  position: relative;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  background-image: url(/images/icon-arrow.svg);
  width: 8px;
  height: 11px;
  top: 6px;
  margin-left: 24px;
}


.breadcrumbs-index {
  background-image: url("/images/icon-house.svg");
  width: 12px;
  height: 12px;
  Top: 5.5px;
  Left: 0.5px;
  position: absolute;
}

.catalog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 70px;
}

.button-select-reset {
  /* display: flex;
  flex-direction: column;
  margin-top: 96px;
  padding-left: 499px; */
  padding-left: 498px;
  padding-top: 56px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 191px;
  grid-template-columns: 191px;
  -ms-grid-rows: 36px 32px 36px;
  grid-template-rows: 36px 36px;
  gap: 32px;
}

.button-select-reset > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
}

.button-select-reset > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-row: 3;
  grid-column: 1;
}

.catalog-filter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.catalog-filter-group {
  width: 150px;
  height: 157px;

}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
}

.controls {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.button-select {
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
}

.button-select:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-select:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-select:focus {
  background-color: #68A2CA;
}

.button-reset {
  color: #FFFFFF;
  background-color: #00000000;
  border: none;
  outline: none;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 1);
}

.button-reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  ;
}

.button-reset:disabled {
  opacity: 0.1;
}

/* sorting */

.section-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 40px;
}

.section-sorting h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.sorting {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0;
  width: 522px;


}

.sorting-item-current {
  border: 2px solid #000000;
  border-radius: 4px;
  /* box-sizing: border-box; */
  padding: 12px 14px;
}

.sorting-list {
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 48px 8px 48px 8px 48px;
  grid-template-columns: 48px 48px 48px;
  -ms-grid-rows: 48px;
  grid-template-rows: 48px;
  gap: 8px;
  margin: 0;
  padding: 0;
  width: 160px;
  list-style-type: none;
  /* justify-content: space-between; */
}

.sorting-list > *:nth-child(1) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.sorting-list > *:nth-child(2) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

.sorting-list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-row: 1;
  grid-column: 5;
}

.sorting-item {
  /* width: 48px;
  height: 48px; */
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 12px 14px;
}


.sorting-item:hover {
  border-color: #000000;
}

.sorting-item:focus {
  border: 2px solid #68A2CA;
}

.sorting-item:active {
  border: 2px solid #000000;
}

/* .other-border {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
} */

.select-control {
  width: 292px;
  height: 49px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #68A2CA;
}

.select-control:active {
  border-color: #3F5E72;
}

.sorting-item:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

/* catalog-list */

.hotels-catalog-list {

  display: -ms-grid;

  display: grid;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding-top: 40px;
  width: 1060px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  margin-bottom: 20px;
}

.hotels-catalog-item {
  background: #FFFFFF;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;

}



.hotel-img-card {
  padding-bottom: 16px;
}

.area-price {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.h3-area-price {
  margin: 0;
}

.item-button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 16px;

}

.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.card-stars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;

}

.star-item {
  width: 18px;
  height: 17px;
  padding: 6px;
}

.hotel-card-batton-rating {
  margin-left: auto;
}

.hotel-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding-bottom: 16px;
}

.area-price {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-bottom: 16px;
}

.hotels-catalog-item a {
  text-decoration: none;
}

.area-price b {
  font-style: normal;
  font-weight: 400;
}

.hotel-card-batton-more {
  color: #FFFFFF;
  background-color: #756157;
  padding: 8px 26px;
}

.hotel-card-batton-more:hover {
  background-color: #615048;
}

.hotel-card-batton-more:focus {
  background-color: #615048;
}

.hotel-card-batton-more:active {
  color: #ffffff4d;
}

/* .hotel-card-batton-more:disabled {
  background-color: #E5E5E5;
} */


.hotel-card-batton-favourites {
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 8px 20px;
}

.hotel-card-batton-favourites:hover {
  background-color: #68A2CA;
}

.hotel-card-batton-favourites:focus {
  background-color: #68A2CA;
}

.hotel-card-batton-favourites:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}


.hotel-card-batton-favourites-current {
  background-color: #7DB54F;
  color: #ffffff;
  padding: 8px 20px;
}

.hotel-card-batton-favourites-current:hover {
  background-color: #6C9E42;
}

.hotel-card-batton-favourites-current:focus {
  background-color: #6C9E42;
}

.hotel-card-batton-favourites-current:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-batton-favourites-current:disabled,
.hotel-card-batton-more:disabled,
.hotel-card-batton-favourites:disabled {
  background-color: #E5E5E5;
}

.hotel-card-batton-rating {
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  padding: 8px 22px;
}

/* pagination*/

.pagination-list {
  /* display: flex; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 8px 60px 8px 60px 8px 60px 8px 60px 8px 60px;
  grid-template-columns: repeat(6, 60px);
  gap: 8px;
  list-style-type: none;
  width: 1060px;
  padding-left: 70px;
  margin: 0;
}



.pagination-link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 24px;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-10 {
  padding: 12px 18px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-link-current:hover {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link-current:active {
  background-color: #F2F2F2;
  color: #000000;
}

.other-background:hover {
  background-color: #ffffff;
}

.other-background:active {
  color: #000000;
}

/* .padagination-item { */
/* background: #82B3D3;
  border-radius: 4px;
  margin-right: 8px;
  display: flex; */
/* justify-content: center; */
/* align-items: center; */




.other-background {
  background-color: #FFFFFF;
  color: #000000;
}
