.wellcomImg {}

.sedona-Txt {
  text-align: center;

}

.sedona {
  text-align: center;
  text-transform: uppercase;
}

.psedonaTxt {}

.hug {
  Width: 1200px;
  Height: 1152px;
  Top: 831px;
  background-color: rgba(0, 0, 255, 0.116);
}
